body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    width: 80%;
    margin: auto;
    padding: 20px;
    background: white;
    box-shadow: 2px 2px 10px rgb(103, 102, 102);
}

.profile-img {
    width: 150px;
    border-radius: 50%;
}
